@import 'fonts';
@import 'variables';

body {

	::selection {
		background: $yellow;
		color: $black;
	}

	::-moz-selection {
		background: $yellow;
		color: $black;
	}
	
	.site-container {
		margin: 20px;
	}
	
	@import 'app';

}

