// LANDING PAGE

#landing-page {

	background: url('/images/new-york-sky.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .lp-logo-container {

		text-align: center;

  	.lp-logo {
			float: none;
			display: inline-block;
			vertical-align: middle;
			text-align: center;
			width: 80%;
			padding-bottom: 5%;
			/*height: 60%;*/
			opacity: 0.8;
  	}

  }
	


}


// ARTISTS PAGE

#artists-page {
  background: $white; /* For browsers that do not support gradients */
  background: url('/images/argentina-stars-invert.jpg') no-repeat bottom center;
  // background: linear-gradient(145deg, white, $background-color-white); /* Standard syntax */

	.ap-row {

		height: 100%;

		.ap-logo-container {
			text-align: right;
		}

		.ap-logo-container {
			.ap-logo {
				opacity: 0.9;
				max-width: 200px;
			}
		}

		.ap-navigation {
			padding-top: 1em;
			list-style: none;
			text-align: right;
			font-family: $sans-serif;
			font-style: normal;
			font-weight: 300;
			font-size: 1.3em;
			word-spacing: 0.1em;
			letter-spacing: 0.1em;
			line-height: 1.4em;

			li {
				opacity: 0.5;

				&:hover {
					opacity: 1;
				}
			}
		}

		.ap-artist-nav {
			text-align: left;
			font-size: 3em;


			.artist {
				// font-style: normal;
				font-family: $serif;
				font-weight: 300;
				list-style: none;

				a {
					color: $black;

					&:hover {
						text-decoration: none;
						color: $black;
						background: $yellow;
					}

					&:visited, &:active, &:focus {
						text-decoration: none;
					}
				}
			}
		}

		.artist-image {
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			overflow: hidden;
			width: 100%;
			height: 500px;
		}

	}
	
}


// ARTIST DETAIL PAGE

#artist-detail-page {

	background: $black; /* Standard syntax */
	background: url('/images/argentina-stars.jpg') no-repeat center center;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;

	color: $white;

	.ad-row {
		height: 100%;

		.artist-image {
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			overflow: hidden;
			width: 100%;
			height: 500px;
		}
	}

	.ad-name {
		font-family: $serif;
		font-weight: 100;
		font-size: 2em;
		color: $yellow;
	}

	.ad-biography {
		font-size: 1.1em;
		text-align: justify;
		font-family: $sans-serif;
		font-weight: 300;
		font-style: italic;
		color: $white;

		.ad-links {
			padding-top: 2em;
			font-family: $sans-serif;
			font-style: normal;
			font-weight: 100;
			font-size: 1.4em;
			text-align: left;
			word-spacing: 0.2em;
			letter-spacing: 0.2em;
			line-height: 1.5em;
		}

	}


}

@media (max-width: 991px) {
	.artist-page-logo-container, .side-nav {
		text-align: center;
	}
	#main-page #main-logo {
		width: 100%;
	}
}