html {
	height: 100%;
}

.container-fluid {
	// height: 100%;
	margin: 0;
}

// LANDING PAGE

#landing-page {

	background: url('/images/NewYorkCityFromHigh.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .lp-logo-container {
  	margin: auto;
  	position: absolute;
		text-align: center;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 70%;
    height: 20%;

  	.lp-logo {
			text-align: center;
			width: 100%;
			opacity: 0.9;
  	}

  }

}


// MAIN CONTENT

#main-content {
  background: $white; /* For browsers that do not support gradients */
  background: url('/images/argentina-stars-invert.jpg') no-repeat bottom center;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;

  .mc-container {
    width: 100%;
    height: 100%;
    position: relative;
  }

	.mc-row {
		position: absolute;
		width: 100%;
		top: 50%;
		transform: translateY(-50%);

		.mc-nav-container {
	    min-width: 35%;
	    max-width: 90%;
	    min-height: 10%;
		}

		.mc-logo-container {
			text-align: right;
		}

		.mc-logo-container {
			.mc-logo {
				opacity: 0.9;
				max-width: 200px;
			}
		}

		.mc-navigation, .mc-navigation-mobile {
			padding-top: 1em;
			list-style: none;
			text-align: right;
			font-family: $sans-serif;
			font-style: normal;
			font-weight: 300;
			font-size: 1.3em;
			word-spacing: 0.1em;
			letter-spacing: 0.1em;
			line-height: 1.4em;

			li {
				opacity: 0.5;

				a {
					color: $black;
					text-decoration: none;

				}
				&.active {
					opacity: 1;
				}

				&:hover {
					opacity: 1;
				}

			}
		}

		.mc-content-wrapper, .mc-content-wrapper-mobile {
			padding-left: 40px;
			text-align: left;
			font-family: $serif;
			color: $black;

			h3 {
				font-weight: 300;
				font-size: 1.4em;
				border-bottom-style: solid;
				margin-top: 0;
				padding-bottom: 10px;
				border-bottom-width: 1px;
				border-bottom-color: rgba(0,0,0,0.1);

				&:not(:first-child) {
					margin-top: 1em;
				}
			}

			p {
				font-family: $sans-serif;
				text-align: justify;
			}

			.about-us {

				.contact {
					padding-left: 0;
					font-size: 1.1em;
					font-weight: 300;
					font-family: $sans-serif;
					letter-spacing: 0.1em;
					line-height: 1.6em;

					li {
						list-style: none;

						a {
						color: $red;

							&:hover {
								text-decoration: none;
							}
						}

						.fa {
							font-size: 0.6em;
							padding-right: 0.5em;
						}

						.title {
							color: $black;
						}
					}
				}
			}

			.ap-artist-nav {
				font-size: 3em;

				ul {
					padding-left: 0;
				}

				.artist {
					// font-style: normal;
					font-family: $serif;
					font-weight: 300;
					list-style: none;

					a {
						color: $black;

						&:hover {
							text-decoration: none;
							color: $black;
							background: $yellow;
						}

						&:visited, &:active, &:focus {
							text-decoration: none;
						}
					}
				}
			}
		}
	}
}


// ARTIST DETAIL PAGE

#artist-detail-page {

	background: $white; /* Standard syntax */
	background: url('/images/argentina-stars-invert.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

	color: $black;

	// width: 100%;
	// height: 100%;
	// position: relative;

	// .ad-container {
	// 	position: absolute;
	// 	width: 100%;
	// 	top: 50%;
	// 	transform: translateY(-50%);
	// }


	.ad-nav {
		height: 3em;
		margin-top: 1em;
		// margin-bottom: 3em;
		// position: relative;

		.ad-logo-container {
			text-align: center;

			.ad-logo {
				width: 200px;
			}
		}

		.ad-back {

			i {
				font-size: 1.9em;
				opacity: 0.4;
				padding-left: 0.5em;
				color: $black;
				// font-size: 1em;
				// width: 100%;
				// color: black;
				// postion: fixed;
				// top: 0; left: 0;

				&:hover {
					opacity: 0.8;
				}
			}
		}

	}

	.social-links {
		padding-top: 2.1em;
		padding-bottom: 0.2em;
		text-align: center;
		font-size: 1.1em;
		
		a {
			color: $black;
			opacity: 0.7;

			&.facebook {
				color: $facebook;
			}
			&.twitter {
				color: $twitter;
			}
			&.spotify {
				color: $spotify;
			}
			&.youtube {
				color: $youtube;
			}
			&.instagram {
				color: $instagram;
			}
			&.itunes {
				color: $itunes;
			}
			&.bandcamp {
				color: $bandcamp;
			}
			&.soundcloud {
				color: $soundcloud;
			}

			&:hover {
				opacity: 1;
			}

		}

		i {
			display: inline-block;
			padding: 0.3em;
		}
	}


	.ad-row {
		// height: 100%;

		.artist-image {
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			overflow: hidden;
			width: 100%;
			height: 100vh;
			max-height: 80%;
			position: relative;
		}
	}

	.ad-name {
		font-family: $serif;
		font-weight: 300;
		font-size: 2em;
		color: $black;
		// background: $white;
		text-align: center;
		padding-top: 0.2em;
		padding-bottom: 0.2em;
		// border-top-style: solid;
		// border-top-color: $black;
		// border-top-width: 5px;

		&:hover {
			color: $black;
			background: $yellow;
			font-weight: 300;
			border-top-color: $black;
		}
	}

	.ad-biography {
		font-size: 1.1em;
		text-align: justify;
		font-family: $sans-serif;
		font-weight: 300;
		font-style: italic;
		color: $black;

		.ad-links {
			margin-top: 1em;
			padding: 1em;
			color: $white;
			font-family: $sans-serif;
			font-style: normal;
			font-weight: 100;
			font-size: 1.2em;
			text-align: left;
			word-spacing: 0.1em;
			letter-spacing: 0.2em;
			line-height: 1.5em;
			background-color: $black;
		}

	}

	.artist-info {
		// position: absolute;
		font-family: $sans-serif;
		padding-left: 3%;
		margin-top: 3em;
		margin-bottom: 5em;
		font-size: 1.1em;
		color: $black;
	  // background: -webkit-linear-gradient(90deg, rgba(0,0,0,1), rgba(0,0,0,0.4)); /* For Safari 5.1 to 6.0 */
	  // background: -o-linear-gradient(90deg, rgba(0,0,0,1), rgba(0,0,0,0.4)); /* For Opera 11.1 to 12.0 */
	  // background: -moz-linear-gradient(90deg, rgba(0,0,0,1), rgba(0,0,0,0.4)); /* For Firefox 3.6 to 15 */
	  // background: linear-gradient(90deg, rgba(0,0,0,1), rgba(0,0,0,0.4)); /* Standard syntax */
		// top: 0;
		// left: 0;
		// height: 100%;
		// width: 100%;

		h3 {
			font-family: $sans-serif;
			font-size: 1.6em;
			font-weight: 100;
			margin-top: 1.5em;
			color: $black;
			letter-spacing: 0.2em;
			text-align: left;

			// span.title {
			// 	color: $white;
			// 	background-color: $black;
			// 	padding: 0.2em;
			// 	padding-left: 0.7em;
			// 	padding-right: 0.7em;
			// 	border-radius: 0.3em;
			// 	opacity: 0.8;
			// }

		}


	}

	ul {
		padding-left: 0;

	}
	li {
		list-style: none;
		letter-spacing: 0.1em;

		a {
			color: $red;

			&:hover {
				text-decoration: none;
				color: $black;
			}
		}

		i {
			font-size: 1em;
			padding-left: 0.2em;
		}
	}

	p {
		font-size: 0.9em;
		font-weight: 300;
		font-style: italic;
		margin-top: 0.5em;

		span.artist-name {
			color: $red;
			padding-right: 0.6em;
			font-size: 1.1em;
		}
	}
}

.mc-content-wrapper-mobile, .mc-navigation-mobile {
	display: none;
}


@media (max-width: 991px) {
	.artist-page-logo-container, .side-nav {
		text-align: center;
	}
	#main-page #main-logo {
		width: 100%;
	}
}

@media (max-width: 767px) {

	.mc-nav-container {
    min-width: 35%;
    max-width: 100% !important;
    // min-height: 10%;
	}

	.mc-content-wrapper {
		display: none;
	}

	.mc-content-wrapper-mobile {
		padding-top: 5%;

		.ap-artist-nav {
			text-align: center;

			.artist {
				font-size: 0.6em;
				padding-top: 0.1em;
			}

		}

		// padding-left: 40px;
		// text-align: left;
		// font-family: $serif;
		// color: $black;

		h3 {
			// font-weight: 300;
			font-size: 1em !important;
			border-bottom-style: solid;
			margin-top: 0;
			padding-bottom: 10px;
			border-bottom-width: 1px;
			border-bottom-color: rgba(0,0,0,0.1);
			text-align: center !important;

			&:not(:first-child) {
				margin-top: 1em;
			}
		}

		p {
			font-family: $sans-serif;
			text-align: justify;
			font-size: 0.9em !important;
		}

		.about-us {
			.other {
				display: none !important;
			}

			.contact {
				padding-left: 0;
				font-size: 0.9em !important;
				// font-weight: 300;
				font-family: $sans-serif;
				// letter-spacing: 0.1em;
				line-height: 1.6em;

				li {
					// list-style: none;

					a {
					// color: $red;

						&:hover {
							// text-decoration: none;
						}
					}

					.fa {
						font-size: 0.4em !important;
						padding-right: 0.5em;
					}

					.title {
						color: $black;
					}
				}
			}
		}


	}

	.mc-navigation-mobile {
		display: block !important;
	}
	.mc-navigation {
		display: none;
	}
}