//FONTS

$serif: 'Roboto Slab', serif;
$sans-serif: 'Lato', sans-serif;


//COLORS

$background-color-white: rgba(250,250,220,0.2);
$yellow: rgba(250,250,100, 0.9);
$white: rgba(255,255, 245, 0.7);
$black: rgba(1,5,3,1);
$red: rgba(75,10,10,0.9);

$facebook: rgb(59,89,152);
$twitter: rgb(64,153,255);
$spotify: rgb(30,215,96);
$youtube: rgb(204,24,30);
$instagram: rgb(205,72,107);
$itunes: rgb(25,25,32);
$bandcamp: rgb(97,147,156);
$soundcloud: rgb(255,85,0);