@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

body {
	font-family: 'Slabo 27px', serif;
}

.site-container {
	margin: 20px;
}

.artist-page-logo-container, .side-nav {
	text-align: right;
	font-size: 1.3em;
}

.artist-image-container {
	height: 50%;
	width: 50%;
	overflow: hidden;
}

.side-nav {
	padding-top: 0.6em;
}

#artists {
  background: white; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(white, rgba(250,250,220,0.2)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white, rgba(250,250,220,0.2)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(white, rgba(250,250,220,0.2)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(145deg, white, rgba(250,250,220,0.2)); /* Standard syntax */
}


#artist-page-logo {
	max-width: 200px;
}

#main-page {
	text-align: center;
}

#main-page #main-logo {
	float: none;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	width: 80%;
	padding-bottom: 5%;
	/*height: 60%;*/
	opacity: 0.9;
}

#main-page-background {
	background: url('/images/new-york-matte.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.artist {
	list-style: none;
}

.artist-page-row {
	height: 100%;
}

.artist-image {
/*	display: none;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
	width: 100%;
	height: 500px;
}

.active-image {
	display: block !important;
}

@media (max-width: 991px) {
	.artist-page-logo-container, .side-nav {
		text-align: center;
	}
	#main-page #main-logo {
		width: 100%;
	}
